<%- include('./base/header.ejs')%>
<div class ="container">
    <div class ="alert  text-center bg-success my-3" style = "color:white">
        <h4>Add Student</h4>
    </div>
</div>
 <div class ="container">
        <div class ="row">
            <div class ="col"></div>
            <div class ="col">
            <form action = "/add/student" method = "post" enctype= "multipart/form-data">
                <div>
                     <label class = "form-label">RollNo</label>
                    <input type = "text" class = "form-control"   name ="RollNo">
                </div>
                <div> <label class = "form-label">Name</label>
                    <input type = "text" class = "form-control" name = "Name">
                    </div>
                <div>
                    <label class = "form-label">FatherName</label>
                    <input type = "text" class = "form-control" name = "FatherName">
                   
                       <div>
                    <label class="form-label">Course</label>
                    <div class="Course">
                        <select name="Course" id="Course" class="form-control">
                            <option value="">Select</option>
                            <option value="BCA">BCA</option>
                            <option value="BBA">BBA</option>
                            <option value="BSC">BSC</option>
                            <option value="BTECH">B.TECH</option>
                            <option value="MBA">MBA</option>
                            <option value="BCOM">B.COM</option>
                        </select>
                    </div>
                
                       <div>
                    <label class="form-label">Branch</label>
                    <div class="Branch">
                        <select name="Branch" id="Branch" class="form-control">
                            <option value="">Select</option>
                            <option value="Computer Science">Computer Science</option>
                            <option value="Business Administration">Business Administration</option>
                            <option value="B.TECH">B.Tech</option>
                        </select>
                    </div>
                </div>
                         <div>
                             <label class = "form-label">Year Of Admission</label>
                        <input type = "text" class = "form-control" name = "YearOfAdmission">
                        </div>
                         <div>
                             <label class = "form-label"> Student Image</label>
                        <input type = "file" class = "form-control" name = "StudentImage">
                        </div>
                        <div>
                            <input type = "submit"   value = "ADD Student" class = "btn btn-warning w-100 my-3">
                           
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class ="col"></div>
       </div>
 <%- include('./base/footer.ejs') %>